.toutu {
  padding: 15px 0;
  height: 550px;
  background-image: url(https://img2.baidu.com/it/u=3131153262,4124032167&fm=253&fmt=auto);
}

.lunbo {
  margin: 0 160px;
  height: 520px;
}

.datu {
  float: left;
  width: 1027px;
}

.xiaotu {
  width: 160px;
}
