.tool-title {
  height: 50px;
  background-color: #fff;
  /* text-align: center; */
}

.tool-title ul li {
  float: left;
  /* font-size: 13px;
  padding: 0px 10px;  */
  background-color: pink;
}

.tool-title li {
  list-style: none;
}
