.top-start ul {
  margin: auto;
}
.top-start ul li a {
  float: left;
  color: #646c7a;
  font-size: 13px;
}

.top-start li {
  list-style: none;
}

.top-start li a {
  margin: 0 5px;
  padding: 0 8px;
}
