.up-live {
  margin: 16px 10px 10px 100px;
  border-radius: 10px;
  width: 907px;
  height: 700px;
  background-color: #fff;
}

.up-title {
  height: 100px;
}

.up-video {
  height: 524px;
  background-color: #000;
}
